body {
    background-color: #34344A; 
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #80475E; 
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Bubblegum Sans', sans-serif; 
    color: #FFD700; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #CC5A71; 
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #FFD700;
}

footer {
    background-color: #34344A; 
    text-align: center;
    padding: 10px;
}

section {
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

form {
    background-color: #504A60;
    padding: 20px;
    border-radius: 8px; /* Updated rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for better contrast */
    max-width: 600px;
    margin: 0 auto; /* Center the form */
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

form input, form select, form textarea, form button {
    width: 100%; 
    padding: 12px; /* Increased padding for better spacing */
    margin-bottom: 15px; /* Increased margin for spacing between fields */
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 8px; /* Rounded corners for uniformity */
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

form textarea {
    height: 200px; /* Increased height for the comment box */
    resize: vertical; /* Allows vertical resizing */
}

form button {
    background-color: #FFD700;
    color: #34344A;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Make button width consistent with input fields */
    box-sizing: border-box;
}

form button:hover {
    background-color: #CC5A71;
}

.hamburger {
    display: none;
    font-size: 30px;
    color: #FFD700;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul {
    display: flex;
    flex-direction: row;
}

#navbar ul li {
    margin-right: 15px;
}

#navbar.show {
    display: flex;
}

@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .hamburger {
        display: block;
    }

    #navbar {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    #navbar.show {
        display: flex;
    }
}
